<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <div th:fragment="medicine">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
    </div>

    <div th:fragment="company">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required /><br />

        <label for="country">Country:</label>
        <input type="text" name="country" id="country" required /><br />
    </div>

    <div th:fragment="pharmacy">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />

        <label for="website">Website:</label>
        <input type="text" name="website" id="website" />

        <label for="latitude">Latitude:</label>
        <input type="number" step="any" name="latitude" id="latitude" required />

        <label for="longitude">Longitude:</label>
        <input type="number" step="any" name="longitude" id="longitude" required />
    </div>
    
    <div th:fragment="manufacturer">
        <label for="medicine-id">Medicine ID:</label>
        <input type="number" step="1" name="medicine-id" id="medicine-id" required />

        <label for="company-id">Company ID:</label>
        <input type="number" step="1" name="company-id" id="company-id" required />
    </div>

    <div th:fragment="stock">
        <label for="medicine-id">Medicine ID:</label>
        <input type="number" step="1" name="medicine-id" id="medicine-id" required />

        <label for="pharmacy-id">Pharmacy ID:</label>
        <input type="number" step="1" name="pharmacy-id" id="pharmacy-id" required />
        
        <label for="count">Count:</label>
        <input type="number" step="1" name="count" id="count" required/>

        <label for="price">Price:</label>
        <input type="number" step="any" name="price" id="price" required/>
    </div>
</body>

</html>