<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/edit.css"/>
    <script type="text/javascript" th:src="|/scripts/${root}/${script}.js|" defer></script>
    <script type="text/javascript" th:src="|/scripts/${root}/base.js|" defer></script>
</head>

<body onload="onPageLoaded()">
<h1>
    <a id="back-button" class="header-button">&lt; back</a>
    <span id="heading">Editing Company</span>
    <a id="delete-button" class="header-button">Delete</a>
</h1>

<form id="form">
    <label for="name">Name:</label><br/>
    <input type="text" name="name" id="name" required/><br/>

    <label for="website">Website:</label><br/>
    <input type="text" name="website" id="website"/><br/>

    <label for="latitude">Latitude:</label><br/>
    <input type="number" step="any" name="latitude" id="latitude" required/><br/>

    <label for="longitude">Longitude:</label><br/>
    <input type="number" step="any" name="longitude" id="longitude" required/><br/>

    <br/><input id="submit" type="submit" value="Save"/>
    <span id="response"></span>
</form>

</body>
</html>
