<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Table Title</title>

    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/tabulator/tabulator.min.css" />

    <script src="/scripts/tabulator/tabulator.min.js" defer></script>
    <script th:inline="javascript" defer>const API_PATH = /*[[${type}]]*/ "";</script>
    <script th:src="|/scripts/view/${type}.js|" defer></script>
    <script src="/scripts/base/view.js" defer></script>
</head>

<body>
    <div id="container">
        <h1>
            <a href="/" class="header-button">&lt; back</a>
            <span id="heading" th:text="${title}">Table Title</span>
            <a th:href="|/${type}/add|" class="header-button">Add</a>
            <a id="search-button" class="header-button">Search</a>
        </h1>

        <div id="main-table"></div>
    </div>
</body>

</html>