<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/tabulator/tabulator.min.css">
    <title th:text="${title}">Table Title</title>
</head>

<body>
<script type="text/javascript" src="/scripts/tabulator/tabulator.min.js"></script>
<script type="text/javascript" th:attr="src=${initScript}"></script>

<div id="container">
    <h1>
        <a href="/" style="font-size:1.0rem;">&lt; back</a>
        <span th:text="${title}">Table Title</span>
    </h1>

    <div id="main-table"></div>
</div>

<script type="text/javascript" src="/scripts/init/base.js"></script>

</body>
</html>
