<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Medicine Catalog</title>

    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/welcome.css" />
</head>

<body>
    <h1>Welcome to our medicine catalog!</h1>
    <h2>Please select an option:</h2>
    <ol>
        <li><a href="/medicine/view">Medicines</a></li>
        <li><a href="/company/view">Companies</a></li>
        <li><a href="/pharmacy/view">Pharmacies</a></li>
    </ol>
</body>

</html>
